<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weathericon.png">
    <title>Help</title>
</head>
<body>
    <div class="wrapper">
        {{>header }}
        <p> {{ helpMsg }} </p>
        <div class="help-container">
        <ul class="help-list">
            <li>Mapbox service might me down</li>
            <li>WeatherStack service might me down</li>
            <li>Check your internet connection</li>
        </ul>
        </div>
    </div>
    {{>footer }}
</body>
</html>